[Unit]
Description=FMG api Service for deactivating ASIC Offload
After=network.target

[Service]
Type=simple
User=hteibler
WorkingDirectory=/working/fmg_syslog
ExecStart=/working/lga-fmg/fmg_syslog.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target


# https://gist.github.com/funzoneq/737cd5316e525c388d51877fb7f542de
# v1.1
